<div class="container mx-auto bg-zinc-800">
    <div class="mx-auto max-w-2xl px-2 py-8 sm:px-3 sm:py-12 lg:max-w-7xl lg:px-4"></div>
    <div class="mt-0 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
        <div *ngFor="let pelicula of listaPeliculas.results" class="bg-zinc-800 mx-8 px-2 grid place-items-center">
            <div
                class="min-h-80 aspect-h-1 aspect-w-1 w-64 overflow-hidden rounded-md bg-zinc-800 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="https://image.tmdb.org/t/p/w500{{pelicula.poster_path}}"
                    class="h-full w-52 object-cover lg:h-full lg:w-52 mx-auto shadow-md">
            </div>
            <div class="mt-4 flex justify-between">
                <div class="">
                    <h3 class="text-md text-white">
                        <a href="#">
                            {{pelicula.title}}
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>